.title{
    color:red;
}

.header{
    display:flex;
    justify-content: center;
    height: 100px;
    background-color: lightblue;
}

.book{
    background-color: lightcoral;
    height: 200px;
    width: 200px;
}

.body{
    margin: 20px;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    border: 8px solid black;
    
}

