body{
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form{
    flex:1;
    padding:20px;
}

input{
    border: none;
    border: 2px solid #E5E7EB;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
    border: 2px solid 	#6495ED;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);;
}

fieldset{
    border:none;
    margin:0;
    padding:0;
}

legend{
    margin-bottom: 10px;
}


.title--container{
    display: flex;
    flex-direction: column;
}

.title{
    padding:0;
    margin:5px;
    margin-top: 20px;
}

.subheading{
    font-weight: 700;
}

.header{
    padding:0;
    margin: 0;
    flex:0.1;
    display:flex;
    justify-content: center;
    background-color: lightblue;
}

.main{
    padding:0;
    margin: 0;
    flex:2
}

.footer{
    padding:0;
    margin: 0;
    flex:0.1;
    display: flex;
    justify-content: center;
    background-color: lightblue;

}


.book{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightcoral;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.toggle--read{
    width: 50px;
    height: 50px;
}

.delete{
    width: 50px;
    height: 50px;
}

.book--container{
    margin: 20px;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border: 8px solid black;
    
}

.new--book{
    width: 100vw;
    display: flex;
    justify-content: center;

}

.add--book{
    padding: 20px;
    font-size: 1.5rem;
    background-color: #EEE8AA;

    border: none;
    outline: none;
    box-shadow: 1px 2px 3px #2a2a5a;
    border-radius: 6px;
}

.add--book:hover{
    background-color: #E6DA8A;
}

.add--book:active{
    background-color: #D9C95F;
}

.dialog{
    width:500px;
    height: 500px;
    border: none;
    padding: 0;
}

::backdrop{
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog.show{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog--header{
    display: flex;
    justify-content: center;
}

.dialog--footer{
    display: flex;
    justify-content: center;
}

.close{
    padding: 10px;
    margin:20px;
    font-size: 1.2rem;
    background-color: #EEE8AA;

    border: none;
    outline: none;
    box-shadow: 1px 2px 3px #2a2a5a; 
    border-radius: 6px;
}

.close:hover{
    background-color: #E6DA8A;
}

.close:active{
    background-color: #D9C95F;
}

.submit{
    padding: 10px;
    margin:20px;
    font-size: 1.2rem;
    background-color: #EEE8AA;

    border: none;
    outline: none;
    box-shadow: 1px 2px 3px #2a2a5a; 
    border-radius: 6px;
}

.submit:hover{
    background-color: #E6DA8A;
}

.submit:active{
    background-color: #D9C95F;
}

.new--book--form{
    display: flex;
    flex-direction: column;
}

